<!DOCTYPE html>
<html  lang="en" ng-app="AD_Click">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>AD Click</title>

		<!-- Bootstrap core CSS -->
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Local Angular-->
		<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>

		<!--Local Scripts-->
 		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/adClickController.js"></script>
	</head>

	<body class="background">

		<div ng-controller="adClickController" class = "container-fluid" style = "margin-top: 70px">
			<iframe src="/sequence" scrolling="no" style="height: 700px;width: 900px;margin:auto;display:block;"></iframe>
		</div>

	</body>
</html>
